.login-page {
  max-width: 350px;
  background-color: #F7F7F7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);

  .form-control, .btn {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

}

.loginPage {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.login {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  height: 100vh;
  justify-content: center;
  padding-top: 50px;

  .avatar {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    display: block;
    border-radius: 60px;
  }

  .status {
    padding: 12px;
    color: #eb6762;
    text-align: center;
    height: 48px;
    display: flex;
    align-items: center;
  }
}
