.order-list {

  .order-item {
    &:hover {
      background-color: #dfefff;
    }
    height: 60px;
    width: 100%;
    display: table;
    margin: 0;

    .group-caption {
      display: table-cell;
      vertical-align: middle;
      padding-left: 16px;
      width: 160px;
    }

    .status {
      svg {
        width: 36px;
        height: 36px;
      }
    }
  }

  .orders-panel-row {
    position: relative;

    .left-catcher {
      position: absolute;
      left: 0;
      top: 0;
      width: 50%;
    }
    .right-catcher {
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
    }
  }
}

.drag {
  background-color: white;
}

.drag1 {
  background-color: green;
}

.drag-1 {
  background-color: red;
}
