.group-item {
  &:hover {
    background-color: #dfefff;
  }
  height: 60px;
  width: 100%;
  display: table;

  .group-caption {
    display: table-cell;
    vertical-align: middle;
    padding-left: 16px;
    width: 160px;
  }
}

