.layout-panel {
}

.client-layout {
    background-color: #FFF;

    .form-control, .btn {
        display: block;
        z-index: 1;
        position: relative;
        box-sizing: border-box;
    }

    .main-tabs {
        padding-bottom: 4px;
    }

    .navbar {
    }
}

.layout-container {
    padding-left: 16px;
    padding-right: 16px;
}

.col-xl-2.group-panel {
    padding-right: 0;
    margin-right: 0;
}

.group-details {

}

.noselect
    -webkit-touch-callout none /* iOS Safari */
    -webkit-user-select none /* Safari */
    -khtml-user-select none /* Konqueror HTML */
    -moz-user-select none /* Firefox */
    -ms-user-select none /* Internet Explorer/Edge */
    user-select none /* Non-prefixed version, currently supported by Chrome and Opera */