.layout-panel {
}

.client-layout {
    background-color: #FFF;

    .form-control, .btn {
        display: block;
        z-index: 1;
        position: relative;
        box-sizing: border-box;
    }

    .main-tabs {
        padding-bottom: 4px;
    }

    .navbar {
    }
}

.layout-container {
    padding-left: 16px;
    padding-right: 16px;
}

.col-xl-2.group-panel {
    padding-right: 0;
    margin-right: 0;
}

.group-details {

}
