.orderRequestEdit {
  padding: 20px;

  .title {
    text-transform: uppercase
    margin-bottom: 20px;
    color: gray;
  }
}

.orderRequestsList {
  padding-top: 15px;
}


.orderRequestPanel {

  .card-body {
    position: relative;
    padding: 16px;

    .sideActions {
      position: absolute;
      top: 16px;
      right: 16px;
    }

    .actions {
      .btn {
        float: right;
        margin-left: 8px;
      }
      width: 100%;
    }
  }

  .heading {
    text-align: center;
  }

  .label {
    color: black;
  }
}